<% layout('layouts/boilerplate') %>

<div class="container d-flex row">
    <div class="mx-auto col-md-9 col-lg-6">
        <h1 class="display-6 text-center">New Campground</h1>
        <form class="border rounded-3 p-4 my-5" action="/campgrounds" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="campground[title]">
                <div class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="campground[location]">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input type="text" class="form-control" id="image" name="campground[image]">
            </div>

            <label for="price" class="form-label">Campground Price</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" id="price" name="campground[price]">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Campground description</label>
                <textarea class="form-control" name="campground[description]" id="description"
                    style="height: 100px"></textarea>
            </div>
        
            <button type="submit" class="btn btn-success">Add campground</button>
        </form>
    </div>
</div>