<% layout('layouts/boilerplate') %>

<div class="container d-flex row">
    <div class="mx-auto col-md-9 col-lg-6">
        <h1 class="display-6 text-center">New Campground</h1>
        <form class="needs-validation border rounded-3 p-4 my-5" action="/campgrounds" method="POST" enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    You must enter a title for the campground
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    You must enter the location of the campground
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input type="file" class="form-control" id="image" name="image" required multiple>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    You must enter the image link for the campground
                </div>
            </div>

            <label for="price" class="form-label">Campground Price</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="number" step="0.01" class="form-control" id="price" name="campground[price]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    You must enter a non-negative number for the campground price
                </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Campground description</label>
                <textarea class="form-control" name="campground[description]" id="description"
                    style="height: 100px" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        You must enter a description for the campground
                    </div>
            </div>
        
            <button type="submit" class="btn btn-success">Add campground</button>
        </form>
    </div>
</div>